.section-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  gap: 20px;
}

.card-container {
  width: 50%;
  border: 1px solid #adb5bd;
  border-radius: 6px;
  padding: 10px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #212529;
}

.card-description{
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    margin-top: 5px;
}

.video-container {
  width: 50%;
  text-align: center;
}

.video{
    width: 100%;
}
